<header>
    <nav>
        <a href="about.html">About</a>
        <a href="contact.html">contact</a>
    </nav>
</header>
<main>
    <h1>An HTML project</h1>
    <p>
        Please don't contact me
    </p>
    <p>
        contact information:
        <p>123 - 456 - 7891</p>
        <p> asdplpongwa@asdswad.com</p>
    </p>
    <div>
        <div>Box 1</div>
        <div>Box 2</div>
        <div>Box 3</div>
        <div>Box 4</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>I like pie</div>
</footer>
